{{- if .Language}}
Please summarize the following meeting transcript in {{.Language}}:
{{- else}}
Please summarize the following meeting transcript in the primary language used by the speakers:
{{- end}}
{{- if .CustomAngle}}

Focus Angle: {{.CustomAngle}}
{{- end}}

{{.TranscriptBody}}
